
.MainDiv {
    margin-top: 60px;
    /* this is to solve the footer from sticking to the middle of the screen on load */
    min-height: calc(100vh - 60px);
}

.h2 {
    text-align: center;
    padding: 20px 0 40px 0;
}

.ClothesDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

@media (max-width: 380px) {

    .h2 {
        font-size: 22px;
        padding: 0 12px 22px;
    }
    
}