
.MainDiv {
    margin-top: 60px;
}

h2 {
    padding: 20px 0;
}

.ClothesDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}