* {
    box-sizing: border-box;
}

.ShopDiv {
    margin-top: 60px;
    height: calc(100vh - 60px);
    width: 100%;   
}

.CheckoutDiv {
    height: 100px;
    width: 100%;
}

.CheckoutDiv h2, .CheckoutDiv h5 {
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 10%;
}

.CheckoutDiv h2 {
    font-size: 38px;
}

.CheckoutDiv h5 {
    font-size: 22px;
    margin-top: 5px;
}

.Main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.LeftProdList {
    width: 50%;
    min-height: 200px;
    max-height: 550px;
    overflow: auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgDiv {
    width: 98%;
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-items: flex-start; */
}

.ImgDiv > img {
    /* width: 15%; */
    height: 105px;
}
.TextDiv {
    width: 80%;
    height: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}
.TextDiv > h3, .TextDiv > h4, .TextDiv > h5 {
    margin: 0;
    padding: 0;
    text-align: left;
}

/* name */
.TextDiv > h3 {
    padding-top: 1%;
}

/* quantity */
.TextDiv > h5 {
    padding-top: 3%;
    font-size: 16px;
}

/* price */
.TextDiv > h4 {
    padding-top: 3%;
}

.RightAmount {
    width: 30%;
    height: 200px;
    background-color: lightblue;
    text-align: left;
}

.RightAmount h2, .RightAmount h5 {
    margin: 0;
    padding: 0;
}

.RightAmount h2 {
    margin-top: 10px;
    margin-left: 8%;
}

.RightAmount h5 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 8%;
}

button {
    margin-top: 20px;
    margin-left: 8%;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}